h1 {
    color: #644117;
    font-size: 45px;
    background-color: #C4A484;
    text-align: center;
    border: solid;
}

.description-index {
    border: solid;
    padding: 30px;
    text-align: center;
}

.index-title {
    background-color: #C4A484;
    text-align: center;
    padding: 20px 0px 60px 0px;
    /* top - right - bottom - left this is how you increase size*/
    font-size: 60px;
    border: solid;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

.main-page {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;

}


.main-page figure img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    border: solid gray;
}


.main-page figure {
    text-align: center;
    max-width: 300px;
    margin: 0;
}



.main-page figcaption {
    margin-top: 8px;
    color: #644117;
    font-size: 30px;
}

/* all pages */
p {
    text-align: center;
}

figure {
    text-align: center;
    /* centers figcaption text */
    max-width: 300px;
    margin: 0;
}

figure img {
    /* centers image */
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 2px solid gray;
    border-radius: 8px;
}

.images {
    display: flex;
    /* puts images side by side */
    justify-content: center;
    /* centers the entire images*/
    flex-wrap: wrap;
    /*allows wrap on other images*/
    gap: 20px;
    /* space between images*/
    padding: 20px 0;
    /* optional top/bottom space*/

}

.button,
.back {
    background-color: #C4A484;
    color: #644117;
    display: inline-block;
    border: solid 1px;
}

/*Museum page*/

h2 {
    color: #644117;
    text-align: center;
}

.table-style {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-style th,
.table-style td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}